body {
  width: 100%;
  margin: 0;
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
  font-weight: 400;
  color: #000000;
  text-transform: none;
  background-color: #ffffff;
}
/*font-family: 'Cuprum', sans-serif;
font-family: 'PT Sans', Arial, sans-serif;*/

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

/* --------H E A D E R---------*/
.container {
  width: 940px;
  margin: 0 auto;
  padding: 0 10px;
}

.menu-btn {
  padding: 10px 0;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  background-color: #ee3643;
  border-radius: 3px;
}

.main-header{
  display: flex;
  flex-direction: column;
  margin-bottom: 60px;
  background-color: #f3f7f9;
}

.main-header-inner {
  margin-bottom: 20px;
}

/* --------H E A D E R - T O P---------*/
.header-top{
  width: 100%;
  margin-bottom: 45px;
  font-size: 17px;
  line-height: 18px;
  color: #ffffff;
  background-color: #293449;
}

.header-top .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
}

.header-top-logo {
  position: absolute;
  top: 0;
}

.header-top-logo:hover {
  opacity: 0.9;
}

.header-top-logo:active {
  opacity: 0.8;
}

.header-top-logo img{
  width: 220px;
  height: 47px;
}

.header-top-form-search  {
  position: relative;
  margin-left: 220px;
}

.header-top-form-search::before {
  position: absolute;
  content: '';
  top: 12px;
	left: 17px;
  width: 17px;
  height: 17px;
  opacity: 0.3;
  background-image: url(../img/icon-search.svg);
  z-index: 1;
}

.header-top-form-search:hover::before {
  opacity: 1;
}

.header-top-search {
  position: relative;
  display: block;
  width: 271px;
  padding: 12px 0 11px;
  padding-left: 50px;
  background-color: #293449;
  border: none;
  outline: none;
}

.header-top-search::-webkit-input-placeholder {
  color: #ffffff;
}

.header-top-search:-moz-placeholder {
  color: #ffffff;
}

.header-top-search:hover {
  background-color: #212a3a;
  outline: none;
}

.header-top-search:focus  {
  background-color: #ffffff;
  color: #888888:
  outline: none;
  background-image: url(../img/icon-search-focus.svg);
  background-repeat: no-repeat;
  background-position: 17px 12px;
}

.header-top-items {
  display: flex;
  justify-content: space-between;
  width: 450px;
}

.header-top-item {
  position: relative;
  padding: 0;
  padding: 12px 0;
  margin: 0;
}

.header-top-item:hover {
  background-color: #212a3a;
}

.header-top-item:active {
  background-color: #161d29
}

.header-top-bookmark {
  width: 130px;
  padding-left: 20px;
}

.header-top-bookmark::before {
  position: absolute;
  content: '';
  top: 12px;
  left: 17px;
  width: 14px;
  height: 16px;
  background-image: url(../img/icon-bookmark.svg);
  opacity: 0.3;
}

.header-top-bookmark:hover::before {
  opacity: 1;
}

.header-top-bookmark:active::before {
  opacity: 0.8;
}

.header-top-cart {
  width: 130px;
  padding-left: 20px;
}

.header-top-cart::before {
  position: absolute;
  content: '';
  top: 12px;
  left: 17px;
  width: 15px;
  height: 15px;
  background-image: url(../img/cart-icon.svg);
  background-repeat: no-repeat;
  opacity: 0.3;
}

.header-top-cart:hover::before {
  opacity: 1;
}

.header-top-cart:active::before {
  opacity: 0.8;
}

.header-top-cart-fill {
  background-color: #ee3643;
}

.header-top-order {
  width: 150px;
  background-color: #63a63e;
}

.header-top-item.header-top-order:hover {
  background-color: #5fbb2d;
}

.header-top-item.header-top-order:active {
  background-color: #518534;
}

/*--------- H E A D E R - M I D D E L -------*/
.header-middel {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 39px;
  font-size: 21px;
  line-height: 21px;
  text-align: center;
}

.header-middel-heading {
  width: 198px;
  padding-top: 4px;
  margin: 0;
  margin-left: 52px;
  font-style: italic;
  font-size: 16px;
  font-weight: 400;
  text-align: left;
  line-height: 23px;
  color: #ee3643;
}

.header-middel-contacts {
  width: 267px;
  margin: 0;
  margin-left: 14px;
  padding: 0;
}

.header-middel-phone {
  width: 242px;
  margin: 0;
  padding: 10px 0;
  padding-left: 22px;
  font-size: 21px;
  line-height: 21px;
  color: #ee3643;
  text-align: center;
  border: 3px #ffffff solid;
  background-image: url(../img/icon-phone.svg);
  background-repeat: no-repeat;
  background-position: 12px 11px;
}

.header-middel-adress {
  margin: 0;
  padding: 0;
  padding-top: 3px;
  font-size: 14px;
  line-height: 24px;
}

.header-middel-user-menu,
.header-middel-user-loged-menu {
  width: 299px;
}

.header-middel-user-menu {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style: none;
  color: #000000;
}

.header-middel-user-menu a {
  display: block;
  margin: 0;
  padding: 13px 0;
  text-decoration: none;
  color: #000000;
}

.header-middel-user-menu a:hover {
  color: #ee3643;
}

.header-middel-user-menu a:active {
  color: #b2b2b2;
}

.header-middel-user-menu .header-middel-login {
  position: relative;
  width: 100px;
  padding-left: 21px;
  margin-left: 18px;
  background-color: #ffffff;
}

.header-middel-user-menu .header-middel-login::before {
  position: absolute;
  content: '';
  top: 15px;
  left: 14px;
  width: 20px;
  height: 17px;
  background-image: url(../img/icon-login.svg);
  opacity: 0.3;
}

.header-middel-user-menu .header-middel-login:hover::before {
  opacity: 1;
}

.header-middel-user-menu .header-middel-login:active::before {
  opacity: 0.3;
}

.header-middel-registration {
  width: 150px;
  background-color: #ffffff;
}

.header-middel-user-loged-menu-account {
  display: block;
  position: relative;
  width: 199px;
  padding-top: 14px;
  padding-right: 60px;
  padding-bottom: 12px;
  padding-left: 40px;
  font-size: 21px;
  line-height: 21px;
  color: #000000;
  text-decoration: none;
  background-color: #ffffff;
}

.header-middel-user-loged-menu-account::before {
  position: absolute;
  content: '';
  top: 14px;
  left: 14px;
  width: 20px;
  height: 17px;
  background-image: url(../img/icon-user.svg);
  opacity: 0.3;
}

.header-middel-user-loged-menu-account::after {
  position: absolute;
  content: '';
  top: 14px;
  right: 12px;
  width: 20px;
  height: 17px;
  background-image: url(../img/icon-logout.svg);
  opacity: 0.5;
}

.header-middel-user-loged-menu-account:hover::before,
.header-middel-user-loged-menu-account:hover::after {
  opacity: 1;
}

.header-middel-user-loged-menu-account:active,
.header-middel-user-loged-menu-account:active::before,
.header-middel-user-loged-menu-account:active::after {
  opacity: 0.5;
}

.header-middel-user-loged-menu-information {
  display: flex;
  justify-content: space-between;
  width: 223px;
  padding-top: 6px;
  margin-left: 17px;
}

.header-middel-user-loged-menu-link {
  display: inline-flex;
  position: relative;
  font-size: 16px;
  line-height: 18px;
  color: #32425c;
}

.header-middel-user-loged-menu-link:hover{
  color: #ee3643;
}

.header-middel-user-loged-menu-link:active{
  color: #bec5ce;
}

.header-middel-user-loged-menu-link-orders {
  width: 80px;
}

.header-middel-user-loged-menu-link-cabinet {
  width: 115px;
  padding-left: 20px;
}

.header-middel-user-loged-menu-link-cabinet::before {
  position: absolute;
  content: '';
  top: 8px;
  left: 2px;
  width: 4px;
  height: 4px;
  background-color: #32425c;
  border-radius: 50%;
}

/*-------------------------------- H E A D E R-B O T T O M -------------------------- */
.header-bottom {
  margin-bottom: 59px;
  font-size: 17px;
  line-height: 17px;
  color: #ffffff;
  background-color: #32425c;
}

.header-bottom-navigation {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 900px;
  padding: 0 20px;
  margin: 0;
  text-align: center;
  list-style: none;
  border-bottom: 5px solid #293449;
}

.header-bottom-navigation a {
  display: inline-flex;
  padding-top: 22px;
  padding-right: 30px;
  padding-bottom: 16px;
  padding-left: 30px;
  color: #ffffff;
  text-decoration: none;
}

.header-bottom-navigation a:hover {
  background-color: #293449;
}

.header-bottom-navigation a:active {
  background-color: #293449;
  color: #8e939c;
}

/* ------------------------------------- M A I N -------------------------------------*/
/* ------------------------------- I N D E X P A G E ---------------------------------*/
/* --------------------------- P R O M O - B L O C K S -------------------------------*/
.promo-blocks {
  position: relative;
  margin-bottom: 53px;
}

.promo-blocks-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  margin-left: -20px;
  color: #ffffff;
}

.promo-blocks-item {
  width: 300px;
  margin-left: 20px;
  margin-bottom: 20px;
  list-style: none;
  overflow: hidden;
}

.promo-blocks-item-name {
  font-size: 24px;
  line-height: 30px;
  font-weight: bold;
  margin-top: 21px;
  margin-left: 23px;
  margin-bottom: 12px;
}

a.promo-blocks-item-link {
  display: block;
  width: 135px;
  margin-top: 12px;
  margin-left: 25px;
  margin-bottom: 22px;
  font-size: 14px;
  color: #ffffff;
  text-decoration: none;
  line-height: 38px;
  text-transform: uppercase;
  text-align: center;
  background-color: rgba(0,0,0,0.1);
  border-radius: 2px;
}

.promo-blocks-item-link:hover {
  background-color: rgba(0,0,0,0.3);
}

.promo-blocks-item-link:active {
  background-color: rgba(0,0,0,0.5);
}

.new-block.promo-blocks-item::after,
.new-block.popular-products-list-item::after{
  content: 'new';
  position: absolute;
  top: 7px;
  right: -23px;
  width: 86px;
  font-size: 14px;
  line-height: 27px;
  font-family: "PT Sans Narrow", sans-serif;
  text-align: center;
  color: #f0f0f0;
  letter-spacing: none;
  text-transform: lowercase;
  background: #ff5357;
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.promo-blocks--materials {
  position: relative;
  color: #ffffff;
  background-image: url("../img/icon-1.svg");
  background-size: 44px 65px;
  background-position: 213px 31px;
  background-repeat: no-repeat;
  background-color: rgba(246,178,45,0.9);
}

.promo-blocks--Tool {
  position: relative;
  color: #ffffff;
  background-color: #3bbce3;
  background-image: url("../img/icon-2.svg");
  background-size: 75px 61px;
  background-position: 197px 33px;
  background-repeat: no-repeat;
}

.promo-blocks--Technic {
  position: relative;
  color: #ffffff;
  background-color: #dc91d8;
  background-image: url("../img/icon-3.svg");
  background-size: 78px 62px;
  background-position: 191px 31px;
  background-repeat: no-repeat;
}

.promo-blocks-item--sale {
  position: relative;
  color: #ffffff;
  background-color: #8ed78f;
  background-image: url("../img/icon-4.svg");
  background-size: 59px 72px;
  background-position: 196px 26px;
  background-repeat: no-repeat;
}

.promo-blocks-item--delivery {
  position: relative;
  color: #ffffff;
  background-color: #ffc047;
  background-image: url("../img/icon-5.svg");
  background-size: 78px 63px;
  background-position: 191px 32px;
  background-repeat: no-repeat;
}

.promo-blocks-second-row {
  display: flex;
  width: 940px;
  margin-bottom: -20px;
}

.promo-blocks-slider {
  position: relative;
  overflow: hidden;
}

.promo-blocks-slider input[type="radio"] {
  display: none;
}

.promo-blocks-slider-slide-link {
  position: absolute;
  bottom: 41px;
  left: 25px;
  display: block;
  width: 195px;
  z-index: 1;
}

.promo-blocks-slider-slide-link:hover {
  background-color: #ca2c37;
}

.promo-blocks-slider-slide-link:active {
  background-color: #ba2732;
}

.promo-blocks-slider-controls label {
  display: inline-block;
  margin: 0 3px;
  width: 6px;
  height: 6px;
  cursor: pointer;
  border-radius: 50%;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.8);
  border: 2px solid #ffffff;
}

.promo-blocks-slider-controls label.blocks-slider-arrow{
  display: inline-block;
  margin: 0;
  width: 0;
  height: 0;
  cursor: pointer;
  border-radius: 0;
  box-shadow: none;
  border: none;
}

label[for="blocks-slider-left"] {
  position: absolute;
  z-index: 1;
  bottom: 55px;
  left: 292px;
}

label[for="blocks-slider-right"] {
  position: absolute;
  z-index: 1;
  bottom: 55px;
  left: 312px;
}

label.blocks-slider-arrow-left[for="blocks-slider-left"] {
  position: absolute;
  z-index: 1;
  top: 123px;
  left: 22px;
  width: 50px;
  height: 50px;
}

label.blocks-slider-arrow-left[for="blocks-slider-left"]::before {
  position: absolute;
  content: '';
  z-index: 1;
  width: 28px;
  height: 3px;
  background-color: #ffffff;
  transform: rotate(-45deg);
}

label.blocks-slider-arrow-left[for="blocks-slider-left"]::after {
  position: absolute;
  top: 18px;
  content: '';
  z-index: 1;
  width: 28px;
  height: 3px;
  background-color: #ffffff;
  transform: rotate(45deg);
}

label.blocks-slider-arrow-right[for="blocks-slider-right"] {
  position: absolute;
  z-index: 1;
  top: 123px;
  right:-100px;
}

label.blocks-slider-arrow-right[for="blocks-slider-right"]::before {
  position: absolute;
  left: 262px;
  content: '';
  z-index: 1;
  width: 28px;
  height: 3px;
  background-color: #ffffff;
  transform: rotate(45deg);
}

label.blocks-slider-arrow-right[for="blocks-slider-right"]::after {
  position: absolute;
  top: 18px;
  left: 262px;
  content: '';
  z-index: 1;
  width: 28px;
  height: 3px;
  background-color: #ffffff;
  transform: rotate(-45deg);
}

.promo-blocks-slider-inner-slides {
  transition: transform 0.8s ease;
}

#blocks-slider-left:checked ~ .promo-blocks-slider-controls label[for="blocks-slider-left"] {
  background-color: #ee3643;
}

#blocks-slider-left:checked ~ .promo-blocks-slider-controls label.blocks-slider-arrow-left[for="blocks-slider-left"] {
  background-color: transparent;
}

#blocks-slider-left:checked ~ .promo-blocks-slider-inner .promo-blocks-slider-inner-slides{
  transform: translate(0);
}

#blocks-slider-right:checked ~ .promo-blocks-slider-controls label[for="blocks-slider-right"] {
  background-color: #ee3643;
}

#blocks-slider-left:checked ~ .promo-blocks-slider-controls label.blocks-slider-arrow-right[for="blocks-slider-left"] {
  background-color: transparent;
}

#blocks-slider-right:checked ~ .promo-blocks-slider-inner .promo-blocks-slider-inner-slides{
  transform: translate(-620px);
}

.promo-blocks-slider-inner-slides {
  width: 200%;
}

.promo-blocks-slider-inner-slides-information {
  position: absolute;
  top: 24px;
  left: 25px;
}

.promo-blocks-slider-inner-slides-information:nth-of-type(n+2) {
  position: absolute;
  left: 645px;
}

.promo-blocks-slider-slide-name {
  margin: 0;
  font-size: 36px;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 36px;
  color: #ffffff;
}

.promo-blocks-slider-slide-slogan {
  margin: 0;
  margin-left: 1px;
  font-size: 18px;
  color: #ffffff;
  line-height: 24px;
}

.promo-blocks-slider-inner-slides img {
  width: 620px;
  height: 266px;
  float: left;
}

/*------------------------- P O P U L A R-P R O D U C T S --------------------------- */
.section-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 886px;
  margin-bottom: 20px;
  padding-top: 25px;
  padding-right: 24px;
  padding-bottom: 26px;
  padding-left: 30px;
  color: #32425c;
  text-transform: uppercase;
  background-color: #f9f5f0;
}

.section-heading {
  margin: 0;
  font-size: 30px;
  line-height: 30px;
  font-weight: normal;
}

.popular-products-btn {
  width: 253px;
}

.popular-products-list-row {
  width: 940px;
  margin: 0 auto;
}

.popular-products-list {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  margin: 0;
  margin-left: -20px;
  padding: 0 0;
  list-style: none;
}

.popular-products-list-item h3 {
  margin: 0;
}

.popular-products-list-item {
  position: relative;
  width: 218px;
  margin-left: 20px;
  margin-bottom: 20px;
  line-height: 20px;
  font-weight: bold;
  text-align: center;
  border: 1px solid #ccc;
  font-family: 'PT Sans', Arial, sans-serif;
  font-weight: bold;
  text-align: center;
  border: 1px #eaeaea solid;
  overflow: hidden;
}

.popular-products-list-item:hover {
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.popular-products-list-item-actions {
  display: none;
  position: absolute;
  z-index: 10;
  width: 218px;
  height: 88px;
  padding: 40px 0;
  background-color: rgba(255,255,255,0.9);
}

.popular-products-list-item-action {
  display: block;
  width: 129px;
  margin: 0 auto;
  margin-bottom: 7px;
  padding: 7px 0;
  background-color: #63a63e;
  border: 3px solid #63a63e;
  border-bottom-color: #367315;
  border-radius:3px;
  color: white;
  font-size: 14px;
  font-weight: normal;
  font-family: "Cuprum", sans-serif;
  line-height: 18px;
  text-decoration: none;
  text-transform: uppercase;
}

.popular-products-list-item:hover .popular-products-list-item-actions {
  display: block;
}

.popular-products-list-item-action-buy {
  position: relative;
  width: 120px;
  margin-bottom: 7px;
  padding-left: 14px;
  color: #ffffff;
  background-color: #63a63e;
  border-bottom: 3px solid #367315;
}

.popular-products-list-item-action-buy:hover {
  background-color: #5fbb2d;
}

.popular-products-list-item-action-buy:active {
  background-color: #518534;
  border-color: #518534;
}

.popular-products-list-item-action-buy::before {
  content: "";
  position: absolute;
  top: 11px;
  left: 12px;
  width: 15px;
  height: 15px;
  background-image: url(../img/cart-icon.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.3;
}

.popular-products-list-item-action-buy:hover::before {
 opacity: 1;
}

.popular-products-list-item-action-buy:active::before {
 opacity: 1;
}

.popular-products-list-item-action-bookmark {
  width: 129px;
  color: #32425c;
  background-color: white;
  border: 3px solid #63a63e;
}

.popular-products-list-item-action-bookmark:hover {
  border-color: #32425c;
}

.popular-products-list-item-action-bookmark:active {
  color: #c1c6ce;
  border-color: #c1c6ce;
}

.popular-products-list-item img {
  width: 218px;
  height: 170px;
}

.popular-products-list-item span {
  display: block;
}

.popular-products-list-item-name {
  min-height: 40px;
  padding: 0 25px;
  margin-top: 5px;
  margin-bottom: 10px;
  font-size: 18px;
  line-height: 20px;
  color: #000000;
  text-decoration: none;
}

.popular-products-list-item-old-price {
  min-height: 20px;
  margin-top: 10px;
  margin-bottom: 8px;
  font-size: 17px;
  line-height: 18px;
  color: #a9a9a9;
  text-decoration: line-through;
}

.popular-products-list-item-price {
  position: relative;
  width: 80px;
  margin: 8px auto;
  margin-top: 8px;
  margin-right: 35px;
  margin-bottom: 20px;
  margin-left: 42px;
  padding: 10px 30px;
  color: #ffffff;
  font-size: 17px;
  line-height: 18px;
  background: #ee3643;
  border-radius: 3px;
}

.popular-products-list-item-price::after {
  content: "";
  position: absolute;
  top: 0;
  right: -20px;
  width: 0;
  height: 0;
  border: 19px solid white;
  border-left-color: #ee3643;
}

/*---------------------- P O P U L A R - M A N U F A C T U R E R S ------------------ */
.popular-manufacturers-btn {
  width: 253px;
}

.manufacturers-row {
  width: 940px;
  margin-bottom: 65px;
}

.popular-manufacturers-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin:  0;
  margin-left: -20px;
}

.popular-manufacturer {
  position: relative;
  width: 218px;
  height: 143px;
  margin-left: 20px;
  margin-bottom: 20px;
  list-style: none;
  border: 1px #eaeaea solid;
  text-align: center;
}

.popular-manufacturer:hover {
  box-shadow: 0 0 15px 0;
}

.popular-manufacturer:active {
  opacity: 0.3;
}


.popular-manufacturer a {
  display: block;
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/*----------------------------- S E R V I C E S ------------------------------------- */
.services {
  background-color: #f4f7f9;
  padding-top: 40px;
  margin-bottom: 80px;
}

.services .container {
  width: 950px;
  padding-right: 0;
}

.services-heading,
.company-description-heading {
  font-size: 30px;
  font-weight: normal;
  line-height: 30px;
  color: #000000;
  text-transform: uppercase;
}


.services-heading-description,
.service-description,
.company-description-paragraph,
.company-description-map-paragraph {
  width: 400px;
  margin-bottom:  70px;
  font-family: 'PT Sans', Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
  color: #000000;
}

.services-slider {
  display: flex;
}

.services-slider input[type=radio] {
  display: none;
}

.services-slider-controls {
  position: relative;
  width: 240px;
  float: left;
  margin-right: 80px;
}

.services-slider-controls::after {
  position: absolute;
  top: -45px;
  right: 0;
  width: 10px;
  height: 279px;
  content: '';
  background-image: url(../img/service-shadow.png);
  background-size: 10px 279px;
}

.services-slider-controls label {
  display: block;
  width: 118px;
  padding-top: 15px;
  padding-right: 100px;
  padding-bottom: 15px;
  padding-left: 22px;
  color: #ffffff;
  font-size: 21px;
  line-height: 30px;
  font-weight: bold;
  background-color: #32425c;
  border-top: 1px solid #405069;
  border-bottom: 1px #293449 solid;
  cursor: pointer;
  transition: background-color 0.2s;
}

.services-slider-controls label:hover {
  background-color: #293449;
}

#delivery:checked ~ .services-slider-controls label[for="delivery"],
#garanty:checked ~ .services-slider-controls label[for="garanty"],
#credit:checked ~ .services-slider-controls label[for="credit"] {
  color: #32425c;
  background-color: #ffffff;
  border-color: #ffffff;
}

.services-slider-inner-slides {
  width: 630px;
  height: 285px;
}

.services-slider-inner-slide {
  position: relative;
}

.services-slider-inner-slide img{
  float: right;
}

.services-slider-inner-slide-delivery {
  display: none;
}

.services-slider-inner-slide-delivery img{
  margin-top: 25px;
  margin-right: 10px;
}

#delivery:checked ~ .services-slider-inner-slides .services-slider-inner-slide-delivery {
  display: block;
}


.services-slider-inner-slide-garanty {
  display: none;
}


#garanty:checked ~ .services-slider-inner-slides .services-slider-inner-slide-garanty {
  display: block;
}

.services-slider-inner-slide-credit {
  display: none;
}

#credit:checked ~ .services-slider-inner-slides .services-slider-inner-slide-credit {
  display: block;
}

.service-name {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 36px;
  line-height: 36px;
  color: #32425c;
  padding: 0;
  margin: 0;
  text-transform: uppercase;
}

.service-description {
  position: absolute;
  top: 61px;
  width: 380px;
  margin: 0;
}

.service-btn {
  position: absolute;
  top: 134px;
  width: 195px;
}

/* ---------------------- C O M P A N Y - D E S C R I P T I O N --------------------- */
.company-description {
  display: flex;
  justify-content: space-between;
  width: 940px;
}

.company-description-left-column-wrapper {
  width: 560px;
}

.company-description-right-column-wrapper {
  width: 300px;
}

.company-description-heading,
.company-description-paragraph,
.company-description-partners-list {
  margin: 0;
}

.company-description-heading {
  margin-bottom: 25px;
}

.company-description-paragraph {
  margin: 25px 0;
  width: 515px;
}

.company-description-paragraph + p {
  width: 400px;
  margin-bottom: 20px;
}

.company-description-map-paragraph {
  width: 200px;
  margin-bottom: 30px;
}

.company-description-partners-list {
  padding: 0;
  list-style: none;
  font-size: 18px;
  line-height: 20px;
  color: #000000;
}

.company-description-partners-list-item {
  position: relative;
  padding-left: 38px;
  margin-bottom: 20px;
}

.company-description-partners-list-item::before {
  position: absolute;
  top: 10px;
  left:  0;
  content: '';
  width: 25px;
  height: 2px;
  background-color: #ee3643;
}

.company-description-btn {
  display: block;
  width: 220px;
  margin-top: 37px;
}

.company-description-popup-btn {
  display: block;
  width: 300px;
  margin-top: 34px;
}

/* ---------------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------------- */
/* -------------------------------I N N E R P A G E---------------------------------- */
/* ---------------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------------- */
/* --------------------------- B R E A D - C R U M B S ------------------------------ */
.breadcrumbs {
  display: flex;
  justify-content: space-between;
  width: 355px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.breadcrumbs a {
  font-family: 'PT Sans', Arial, sans-serif;
  font-size: 13px;
  color: #000000;
  line-height: 18px;
  text-transform: uppercase;
  text-decoration: none;
}

.right-small {
  width: 8px;
  background-image: url(../img/icon-right-small.svg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

/* ------------------------------- H E A D I N G ------------------------------------ */
.inner-page-heading{
  width: 880px;
  margin: 0;
  margin-top: 16px;
  margin-bottom: 20px;
  padding: 29px 30px;
  font-size: 30px;
  line-height: 30px;
  color: #32425c;
  text-transform: uppercase;
  font-weight: normal;
  background-color: #f2f6f8;
}

.catalog-wrapper {
  display: flex;
  justify-content: space-between;
  width: 940px;
  margin-bottom: 60px;
}

/* ----------------------- C A T A L O G - F I L T E R ------------------------------ */
.catalog-filter {
  width: 220px;
  font-family: 'PT Sans', Arial, sans-serif;
}

.catalog-section-heading {
  margin: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 13px;
  line-height: 18px;
  font-weight: normal;
  text-transform: uppercase;
  background-color: #f7f3ec;
  border-radius: 5px;
}

.catalog-filter-heading {
  width: 51px;
  padding-left: 19px;
  padding-right: 150px;
}

.catalog-filter-fieldset {
  border: none;
  border-bottom: 1px solid #e5e5e5;
  padding: 0;
  margin: 0;
}

.catalog-filter-legend {
  font-size: 17px;
  line-height: 30px;
  font-weight: bold;
}

/* ------------------------------- P R I C E ---------------------------------------- */
.catalog-filter-fieldset-price {
  margin-top: 12px;
}

.catalog-filter-legend-price {
  margin-bottom: 14px;
}

.catalog-filter-price-range {
  width: 200px;
  padding-top: 25px;
  padding-left: 20px;
  padding-bottom: 31px;
  background-color: #f7f3ec;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.catalog-filter-price-range input[type="range"] {
  width: 180px;
  height: 2px;
}

.catalog-filter-price-output-wrapper{
  display: flex;
  justify-content: space-between;
  width: 220px;
  margin-top: 9px;
  margin-bottom: 26px;
  font-size: 17px;
}

.catalog-filter-price-range-output {
  display: inline-flex;
  justify-content: center;
  width: 95px;
  padding-top: 6px;
  padding-bottom: 7px;
  background-color: #f7f3ec;
}

.catalog-filter-price-output {
  padding-left: 5px;
}

.catalog-filter-price-max-output {
  display: inline-flex;
  position: relative;
  width: 95px;
  justify-content: center;
  background-color: #f7f3ec;
  padding-top: 6px;
  padding-bottom: 7px;
}

.catalog-filter-price-max-output::before {
  position: absolute;
  content: '';
  top: 19px;
  left: -20px;
  width: 9px;
  height: 1px;
  background-color: #444444;
}

/*------------------------ M A N U F A C T U R E R -----------------------------------*/
.catalog-filter-fieldset-manufacturer {
  margin-top: 16px;
}

.catalog-filter-legend-manufacturer {
  margin-bottom: 16px;
}

.catalog-filter-manufacturers-list {
  padding: 0;
  margin: 0;
}

.catalog-filter-manufacturer {
  font-size: 15px;
  line-height: 20px;
  text-transform: uppercase;
  color: #000000;
  list-style: none;
  margin-bottom: 20px;
}

.catalog-filter-checkbox {
  position: relative;
  padding-left: 35px;
  cursor: pointer;
}

.catalog-filter-checkbox input[type="checkbox"] + .catalog-filter-checkbox-indicator {
  position: absolute;
  top: -1px;
  left: 0;
  width: 19px;
  height: 19px;
  border: 2px solid #b5b5b5;
  border-radius: 3px;
}

.catalog-filter-checkbox input[type="checkbox"]:hover + .catalog-filter-checkbox-indicator {
  border: 2px solid #c5c5c5;
}

.catalog-filter-checkbox input[type="checkbox"]:disabled + .catalog-filter-checkbox-indicator {
  border: 2px solid #e9e9e9;
}

input[type="checkbox"]:disabled ~ .catalog-filter-checkbox-manufacturer{
  color: #999999;
}

.catalog-filter-checkbox input[type="checkbox"]:checked + .catalog-filter-checkbox-indicator {
  border: 2px solid #c5c5c5;
}

.catalog-filter-checkbox input[type="checkbox"]:checked:hover + .catalog-filter-checkbox-indicator {
  border: 2px solid #b5b5b5;
}


.catalog-filter-checkbox input[type="checkbox"]:checked:disabled + .catalog-filter-checkbox-indicator {
  border: 2px solid #e9e9e9;
}


input[type="checkbox"]:checked:disabled ~ .catalog-filter-checkbox-manufacturer{
  color: #999999;
}

.lcatalog-filter-checkbox input[type="checkbox"]:focus + .catalog-filter-checkbox-indicator {
  border-color: #663d15;
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
}

.catalog-filter-checkbox input[type="checkbox"]:checked + .catalog-filter-checkbox-indicator::before,
.catalog-filter-checkbox input[type="checkbox"]:checked + .catalog-filter-checkbox-indicator::after {
  content: "";
  position: absolute;
  background-color: #c5c5c5;
}

.catalog-filter-checkbox input[type="checkbox"]:checked + .catalog-filter-checkbox-indicator::before {
  top: 8px;
  left: 2px;
  width: 10px;
  height: 4px;
  transform: rotate(45deg);
  z-index: 1;
}

.catalog-filter-checkbox input[type="checkbox"]:checked + .catalog-filter-checkbox-indicator::after {
  top: 4px;
  left: 6px;
  width: 20px;
  height: 4px;
  border-top: 2px solid #ffffff;
  border-bottom: 2px solid #ffffff;
  transform: rotate(-45deg);
}

.catalog-filter-checkbox input[type="checkbox"]:checked:disabled + .catalog-filter-checkbox-indicator::before,
.catalog-filter-checkbox input[type="checkbox"]:checked:disabled + .catalog-filter-checkbox-indicator::after{
  background-color: #e9e9e9;
}

.catalog-filter-checkbox input[type="checkbox"]:checked:hover + .catalog-filter-checkbox-indicator::before,
.catalog-filter-checkbox input[type="checkbox"]:checked:hover + .catalog-filter-checkbox-indicator::after {
  background-color: #b5b5b5;
}

/*------------------------------ B A T T E R Y ---------------------------------------*/
.catalog-filter-fieldset-battery {
  margin-top: 17px;
  margin-bottom: 56px;
  border-bottom: none;
}

.catalog-filter-legend-battery {
  margin-bottom: 16px;
}

.catalog-filter-batteries-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.catalog-filter-battery {
  font-size: 15px;
  line-height: 20px;
  text-transform: uppercase;
  color: #000000;
  margin-bottom: 20px;
}

.catalog-filter-radio {
  position: relative;
  padding-left: 35px;
  cursor: pointer;
}

.catalog-filter-radio input[type="radio"] + .catalog-filter-radio-indicator{
  position: absolute;
  top: -2px;
  left: -1px;
  width: 17px;
  height: 17px;
  border: 4px solid #c5c5c5;
  border-radius: 50%;
}

.catalog-filter-radio input[type="radio"]:hover + .catalog-filter-radio-indicator{
  border-color: #b5b5b5;
}

.catalog-filter-radio input[type="radio"]:checked:hover + .catalog-filter-radio-indicator{
  border-color: #b5b5b5;
}

.catalog-filter-radio input[type="radio"]:checked + .catalog-filter-radio-indicator::before {
  position: absolute;
  content: '';
  top: 4px;
  left: 4px;
  width: 9px;
  height: 9px;
  border-radius: 50%;
  background-color: #c5c5c5;
}

.catalog-filter-radio input[type="radio"]:checked:hover + .catalog-filter-radio-indicator::before{
  background-color: #b5b5b5;
}

.catalog-filter-form-submit-button {
  width: 140px;
  padding: 9px 0;
  font-size: 13px;
  line-height: 18px;
  color: #000000;
  text-transform: uppercase;
  background-color: #ffffff;
  border: 1px solid #e5e5e5;
  border-radius: 3px;
}

/* ----------------------------- S O R T -------------------------------------------- */
.catalog-sort {
  font-family: 'PT Sans', Arial, sans-serif;
  width: 700px;
}

.catalog-sort-heading-wrapper{
  display: flex;
  justify-content: space-between;
  width: 664px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 19px;
  padding-right: 17px;
  background-color: #f7f3ec;
  margin-bottom: 21px;
}

.catalog-sort-heading{
  width: 82px;
  padding: 0;
  padding-right: 30px;
}

.catalog-sort-list {
  display: flex;
  justify-content: space-between;
  width: 355px;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  list-style: none;
  margin: 0;
  padding: 0;
  padding-left: 65px;
}

.catalog-sort-value {
  color: #b6b3ae;
  text-decoration: none;
  border-bottom: 1px dotted #ee3643;
}

.catalog-sort-value:hover{
  color: #000000;
  border-bottom: 1px solid #ee3643;
}

.catalog-sort-value-current {
  color: #ee3643;
  text-decoration: none;
  border-bottom: none;
}

.catalog-sort-value-current:hover {
  color: #ee3643;
  text-decoration: none;
  border-bottom: none;
}

.catalog-sort-triangles {
  width: 43px;
  cursor: pointer;
}

.catalog-sort-triangle{
  line-height: 0;
  font-size: 0;
}

.catalog-sort-triangles input {
  display: none;
}

.catalog-sort-triangles label {
  display: inline-block;
  margin-top: 5px;
}

label[for="triangle-left"] {
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-bottom: 11px solid #c5c5c5;
}

label[for="triangle-right"] {
  margin-left: 19px;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 11px solid #c5c5c5;
}

#triangle-left:checked ~ .catalog-sort-triangle  label[for="triangle-left"] {
  border-bottom: 11px solid #ee3643;
}

#triangle-right:checked ~ .catalog-sort-triangle  label[for="triangle-right"] {
  border-top: 11px solid #ee3643;
}

.catalog{
  font-family: 'PT Sans', Arial, sans-serif;
  width: 700px;
}

.popular-products-list-inner-row {
  width: 700px;
}

/*-------------------- P A G I N A T I O N - L I S T ---------------------------------*/
.catalog-pagination-list {
  display: flex;
  padding: 0;
  margin: 0;
  margin-top: 32px;
  list-style: none;
}

.catalog-pagination-item {
  display: block;
  margin-right: 10px;
  text-decoration: none;
  font-family: 'PT Sans', Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  color: #000000;
  border: 1px solid #e5e5e5;
  border-radius: 3px;
}

.catalog-pagination-item:hover{
  border-color: #bdc6ca;
}

.catalog-pagination-item:active{
  border-color: #ee3643;
}

.catalog-pagination-item-current {
  color: #ffffff;
  border-color: #ee3643;
  background-color: #ee3643;
}

.catalog-pagination-item-current:hover{
  border-color: #ee3643;
}

.catalog-pagination-item-current:active{
  border-color: #ee3643;
}

.catalog-pagination-number {
  padding: 9px 15px;
  padding-right: 14px;
}

.catalog-pagination-next {
  padding: 9px 31px;
}

/*---------------------------- A R T I C L E -----------------------------------------*/
.article-perforator {
  width: 100%;
  padding: 65px 0;
  padding-bottom: 69px;
  background-color: #f2f6f8;
}

.article-perforator-heading {
  margin: 0;
  font-size: 30px;
  line-height: 30px;
  font-weight: normal;
  text-transform: uppercase;
  margin-bottom: 25px;
}

.article-perforator-paragraph {
  margin: 0;
  font-family: 'PT Sans', Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
}

/*----------------------------- F O O T E R ----------------------------------------- */
.footer {
  margin-top: 86px;
  width: 100%;
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
  background-color: #32425c;
}

.footer-catalog{
  margin-top: 0;
}

.footer .container {
  display: flex;
  justify-content: space-between;
  width: 940px;
}

.footer-left-column {
  width: 380px;
  padding-bottom: 20px;
}

.footer-contacts {
  margin: 0;
  margin-top: 20px;
  margin-bottom: 30px;
  margin-left: 2px;
}

.footer-right-column {
  width: 550px;
}

.footer-navigation,
.footer-sections {
  display: flex;
  justify-content: flex-end;
  margin: 0;
  margin-top: 39px;
  text-align: right;
  list-style: none;
}

.footer-sections {
  margin-top: 31px;
}

.footer-navigation a,
.footer-sections a {
  text-decoration: none;
}

.footer-navigation a:hover,
.footer-sections a:hover {
  text-decoration: underline;
}

.footer-navigation a:active,
.footer-sections a:active {
  opacity: 0.3;
}

.footer-navigation a {
  color: #ffffff;
}

.footer-sections a{
  color: #ffd180;
}

.footer-navigation li,
.footer-sections li {
  padding-left: 59px;
}

/*-------------------- F O O T E R - C O P Y R I G H T S ---------------------------- */
.footer-copyrights {
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
  background-color: #293449;
}

.footer-copyrights .container {
  display: flex;
  width: 940px;
  padding-top: 38px;
  padding-bottom: 30px;
}

.footer-copyrights-copyright {
  width: 230px;
  margin: 0;
}

.footer-copyrights-social-list {
  display: flex;
  width: 130px;
  margin: 0;
  padding: 0;
  margin-left: 160px;
}

.footer-copyrights-social {
  margin-left: 5px;
  list-style: none;
}

.footer-copyrights-social:first-child {
  margin-left: 0;
}

.footer-copyrights-social-button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background-color: #212a3a;
  border-radius: 50%;
}

.footer-copyrights-social-button:hover{
  background-color: #ee3643;
}

.social-copyrights {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-copyrights-contacts {
  display: flex;
  justify-content: space-between;
  width: 300px;
  margin-left: 120px;
}

.footer-copyrights-contact {
  margin: 0;
  padding-right: 15px;
}

.footer-copyrights-link {
  text-decoration: none;
  color: #ffd180;
}

.footer-copyrights-link:hover {
  text-decoration: underline;
}

.footer-copyrights-link:active {
  color: #ee3643;
}

/* ----------------------------- M O D A L ------------------------------------------ */

.modal {
  position: fixed;
  color: #000000;
  background-color: #ffffff;
  box-shadow: 0 30px 50px rgba(0, 0, 0, 0.7);
  z-index: 5;
}

.modal-background {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: transparent;
  z-index: 4;
}

.modal-background-show {
  display: block;
}

.modal-feedback {
  display: none;
  top: 120px;
  left: 50%;
  margin-left: -310px;
  width: 620px;
  height: 383px;
  border-top: 7px solid #ff5257;
}

.modal-feedback-form-button-close {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 21px;
  height: 21px;
  font-size: 0;
  background-color: transparent;
  border: none;
}

.modal-feedback-form-button-close::before,
.modal-feedback-form-button-close::after {
  position: absolute;
  content: '';
  top: 7px;
  left: -2px;
  width: 27px;
  height: 4px;
  background-color: #ee3643;
}

.modal-feedback-form-button-close::before {
  transform: rotate(-45deg);
}

.modal-feedback-form-button-close::after {
  transform: rotate(45deg);
}

.modal-feedback-form {
  width: 620px;
}

.modal-feedback-form-wrapper {
  width: 460px;
  margin-top: 44px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 28px;
}

.modal-feedback-form p {
  display: inline-block;
  vertical-align: top;
  margin: 0;
}

.modal-feedback-form label{
  font-size: 18px;
  line-height: 18px;
}

.modal-feedback-form input,
.modal-feedback-form textarea {
  font-family: 'PT Sans', Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  box-sizing: border-box;
}

.modal-feedback-form input[type="text"],
.modal-feedback-form input[type="email"],
.modal-feedback-form textarea {
  padding: 0;
  margin: 0;
  margin-top: 5px;
  color: #a9a9a9;
  border: 2px solid #dee3e4;
  border-radius: 3px;
}

.modal-feedback-form input[type="text"]:hover,
.modal-feedback-form input[type="email"]:hover,
.modal-feedback-form textarea:hover {
  border-color: #b5b5b5;
}

.modal-feedback-form input[type="text"]:focus,
.modal-feedback-form input[type="email"]:focus,
.modal-feedback-form textarea:focus {
  border: 2px solid #ee3643;
  outline: none;
}

.modal-feedback-form input[type="text"] {
  width: 220px;
  margin-right: 16px;
  margin-bottom: 20px;
  padding: 8px 15px;
}

.modal-feedback-form input[type="email"] {
  width: 220px;
  margin-bottom: 20px;
  padding: 8px 15px;
}

.modal-feedback-form textarea{
  width: 460px;
  height: 114px;
  padding: 8px 15px;
}

.modal-feedback-form-button-wrapper {
  width: 460px;
  padding: 37px 80px;
  background-color: #f4f4f4;
}

.modal-feedback-form-button-submit {
  width: 460px;
  margin-top: 1px;
  border: none;
}

.modal-map {
  display: none;
  top: 50%;
  left: 50%;
  width: 940px;
  height: 476px;
  margin-top: -308px;
  margin-left: -470px;
}


.modal-map-button-close {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 21px;
  height: 21px;
  font-size: 0;
  background-color: transparent;
  border: none;
}

.modal-map-button-close::before,
.modal-map-button-close::after {
  position: absolute;
  content: '';
  top: 7px;
  left: -2px;
  width: 27px;
  height: 4px;
  background-color: #ee3643;
}

.modal-map-button-close::before {
  transform: rotate(-45deg);
}

.modal-map-button-close::after {
  transform: rotate(45deg);
}

.modal-map p {
  margin: 0;
}

.modal-cartfill{
  display: none;
  top: 120px;
  left: 50%;
  margin-left: -310px;
  width: 620px;
  height: 275px;
  border-top: 7px solid #ff5257;
}

.modal-cartfill-wrapper {
  height: 163px;
}

.modal-cartfill-circle {
  position: absolute;
  top: 55px;
  left: 80px;
  display: inline-block;
  width: 66px;
  height: 66px;
  border-radius: 50%;
  background-color: #63a63e;
}

.modal-cartfill-circle::before,
.modal-cartfill-circle::after {
  position: absolute;
  content: '';
  background-color: #ffffff;
  height: 6px;
}

.modal-cartfill-circle::before {
  width: 20px;
  top: 38px;
  left: 11px;
  transform: rotate(45deg);
}

.modal-cartfill-circle::after {
  width: 35px;
  top: 32px;
  left: 20px;
  transform: rotate(-45deg);
}

.modal-cartfill-heading {
  position: absolute;
  top: 45px;
  right: 105px;
  font-size: 30px;
  line-height: 30px;
}

.modal-cartfill-button-wrapper {
  padding: 37px 78px;
  height: 38px;
  background-color: #f1f1f1;
}

.modal-cartfill-button-wrapper .modal-cartfill-button {
  display: inline-block;
  width: 220px;
  margin-top: 2px;
}

.modal-cartfill-button-wrapper .modal-cartfill-button-continue {
  margin-left: 20px;
  color: #000000;
  background-color: #ffffff;
}

.modal-show {
  display: block;
}
