body {
  margin: 0;

  font-family: "Cuprum", Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
  font-weight: 400;
  color: #000000;
  text-transform: none;
  background-color: #ffffff;

    width: 1200px;
}


/*font-family: 'Cuprum', sans-serif;
font-family: 'PT Sans', Arial, sans-serif;*/

img {
  max-width: 100%;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

/* --------header---------*/


.container {
  width: 940px;
  margin: 0 auto;
  padding: 0 10px;


}

  /* outline: 2px solid tomato; */

.main-header{
  margin-bottom: 60px;


  display: flex;
  flex-direction: column;


  background-color: #f3f7f9;
}

/* background-color: #f3f7f9; */


.header-top{
  width: 100%;
  margin-bottom: 45px;

  font-size: 17px;
  line-height: 18px;
  color: #ffffff;
  background-color: #293449;

}

.header-top .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
}

.header-top:hover {
  background-color: #32425c;
}


.header-top-logo img{
  position: absolute;
  top:0;
  left: 130px;
  width: 220px;
  height: 47px;
}





.header-top-search {
  display: block;
  width: 490px;
  padding: 7px 0 8px;
  padding-left: 268px;
  background-image: url(../img/icon-search.svg);
  background-repeat: no-repeat;
  background-position: 237px 8px;
  background-color: #293449;
  border: none;

}

.header-top-search::-webkit-input-placeholder {
  color: #ffffff;
}

.header-top-search:-moz-placeholder {
  color: #ffffff;
}

.header-top-search:hover {
  background-color: #212a3a;
}


input.header-top-search:focus {
  background-color: #ffffff;
  color: #888888:
}

.header-top-items{
  display: flex;
  justify-content: space-between;
  width: 450px;

}
.header-top-item {
  padding: 12px 0;
  margin: 0;

}

.header-top-item:hover {
  background-color: #212a3a;
}

.header-top-item:active {
  background-color: #161d29
}

.header-top-bookmark {
  width: 95px;
  background-image: url(../img/icon-bookmark.svg);
  padding-left: 36px;
  background-repeat: no-repeat;
  background-position: 17px 12px;
  background-color: #293449;
}

.header-top-cart {
  width: 90px;
  padding-left: 39px;
  background-image: url(../img/cart-icon.svg);
  background-repeat: no-repeat;
  background-position: 18px 12px;
  background-color: #293449;
}

.cart-fill {
  background-color: #ee3643;
}

.header-top-order {
  background-color: #63a63e;
  width: 150px;

}

.header-top-item.header-top-order:hover {
  background-color: #5fbb2d;
}

.header-top-item.header-top-order:active {
  background-color: #518534;
}

/*---header-middel----*/
.header-middel {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 39px;

  font-size: 21px;
  line-height: 21px;
  text-align: center;
}

.header-middel-heading {
  padding-top: 4px;
  margin: 0;
  margin-left: 52px;
  font-style: italic;
  font-size: 16px;
  font-weight: 400;
  text-align: left;
  line-height: 23px;
  color: #ee3643;

}

.header-middel-contacts {
  margin: 0;
  padding: 0;
  width: 267px;
}

.header-middel-phone {
  width: 242px;
  margin: 0;
  padding: 10px 0;
  padding-left: 22px;
  font-size: 21px;
  line-height: 21px;
  color: #ee3643;
  text-align: center;
  border: 3px #ffffff solid;
  background-image: url(../img/icon-phone.svg);
  background-repeat: no-repeat;
  background-position: 12px 11px;
}

.header-middel-adress {
  margin: 0;
  padding: 0;
  padding-top: 3px;
  font-size: 14px;
  line-height: 24px;
}


.header-middel-user-menu {
  display: flex;
  justify-content: space-between;
  width: 281px;
  margin: 0;
  padding: 0;

  list-style: none;
  color: #000000;
}


.header-middel-user-menu a {
  display: block;
  margin: 0;
  padding: 14px 0;
  text-decoration: none;
  color: #000000;
}

.header-middel-user-menu a:hover {
  color: #ee3643;
}

.header-middel-user-menu a:active {
  color: #b2b2b2;
}

a.header-middel-login {
  width: 101px;
  background-color: #ffffff;
  background-image: url(../img/icon-login.svg);
  background-repeat: no-repeat;
  background-position: 14px 14px;
  padding-left: 20px;
}

.header-middel-registration {
  width: 150px;
  background-color: #ffffff;
}


.user-form-authorized {
  width: 299px;
  font-size: 21px;
  line-height: 21px;
  color: #000000;
  background-color: #ffffff;
  padding-left: 25px;
  background: url(../img/icon-user.svg) no-repeat 0% 50%,

}

.user-btn {
  background-color: #ffffff;
  border: none;
}

.logout-btn {
  background-color: #ffffff;
  border: none;
}


.user-menu.user-authorized {
  list-style: none;
  font-size: 16px;
  line-height: 18px;
  color: #32425c;
  text-decoration: underline;
}
.user-authorized-li {
  list-style: disc;
}


/*-----header-bottom-----*/

.header-bottom {
  margin-bottom: 60px;
  font-size: 17px;
  line-height: 17px;
  color: #ffffff;
  background-color: #32425c;
}

.header-bottom-navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  list-style: none;
  padding: 0 55px 0 52px;
  margin: 0;

  border-bottom: 5px solid #293449;
}

.header-bottom a {
  display: flex;
  padding: 19px 0;
  color: #ffffff;
  text-decoration: none;
}

.header-bottom a:hover {
  background-color: #293449;
}

.header-bottom a:active {
  background-color: #293449;
  color: #8e939c;
}


/* --------MAIN---------*/

/* --------INNER PAGE---------*/
/* --------breadcrumbs---------*/
.breadcrumbs {
  display: flex;
  justify-content: space-between;
  width: 355px;
  list-style: none;
  padding: 0;
}

.breadcrumbs li {

}

.breadcrumbs a {
  font-family: 'PT Sans', Arial, sans-serif;
  font-size: 13px;
  color: #000000;
  line-height: 18px;
  text-transform: uppercase;
  text-decoration: none;
}

.right-small {
  width: 8px;
  background-image: url(../img/icon-right-small.svg);
  background-repeat: no-repeat;
  background-position: 50% 50%;

}
/* --------filter---------*/

.head-inner {
  width: 940px;
  height: 89px;
  font-size: 30px;
  line-height: 30px;
  color: #32425c;
  text-transform: uppercase;
  font-weight: normal;
  background-color: #f2f6f8;
}

.catalog-wrapper {
  display: flex;
  justify-content: space-between;
}
.catalog-filter {
  font-family: 'PT Sans', Arial, sans-serif;
  width: 220px;
}

.catalog-filter-heading,
.sort-heading {
  font-size: 13px;
  line-height: 18px;
  font-weight: normal;
  text-transform: uppercase;
  background-color: #f7f3ec;
}

.catalog-filter-heading.form-heading {
  width: 220px;
  height: 38px;
}

.catalog-filter-form {

}

.filter-fieldset {
  border: none;
  border-bottom: 1px solid #e5e5e5;
  padding: 0;
}

.filter-fieldset:last-of-type {
  border-bottom: none;
}

.filter-legend {
  font-size: 17px;
  line-height: 30px;
  font-weight: bold;

}

/*-----price----*/

.input-price-range {
  width: 220px;
  height: 80px;
  background-color: #f7f3ec;
}

.price-output{
  background-color: #f7f3ec;
  width: 95px;
  height: 38px;
}

.price-scope {
  width: 16px;
  border-top: 1px solid #000000;
}
/*-----manufacturer------*/
.manufacturer-list {
  padding: 0;
  margin: 0;
}

.filter-option {
  list-style: none;
}

/*----battery-------*/
.accumulator-list {
  margin: 0;
  padding: 0;

}


.filter-form-button {
  width: 140px;
  height: 38px;
  font-size: 13px;
  line-height: 18px;
  color: #000000;
  text-transform: uppercase;
  background-color: #ffffff;
  border: 1px solid #e5e5e5;
  border-radius: 3px;
  margin-top: 70px;
}
/*---------sort-----*/

.catalog-sort {
  font-family: 'PT Sans', Arial, sans-serif;
  width: 700px;
}

.catalog-filter-heading {
  display: flex;
  justify-content: space-around;
}

.sort-heading {
  width: 85px;
}

.sort-item {
  display: flex;
  justify-content: space-between;
  width: 355px;
  list-style: none;
}

.sort-item-triangle {
  display: flex;
  width: 43px;
  list-style: none;
}

.sort-item a {
  color: #c4c1bb;
  border-bottom: 1px dotted #ee3643;
}

.sort-item a:hover {
  color: #000000;
  border-bottom: 1px dotted #ee3643;
}

.sort-item a:active {
  color: #ee3643;
  border: none;
}

.sort-item .sort-current a {
  color: #ee3643;
  border: none;
}

.red-triangle-top {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 11px solid #c5c5c5;
}

.red-triangle-bottom {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 11px solid #c5c5c5;
}

.current-triangle{
  border-top-color: #ee3643;
  border-bottom-color: #ee3643;
}

.red-triangle-top:hover,
.red-triangle-bottom:hover {
  border-top-color: #000000;
  border-bottom-color: #000000;
}

.red-triangle-top:active,
.red-triangle-bottom:active {
  border-top-color: #ee3643;
  border-bottom-color: #ee3643;
}
/*-----pagination-list------*/
.pagination-list {
  display: flex;
  margin: 55px 0 60px;
  list-style: none;
}

.pagination-item {
  margin-right: 10px;
  padding: 14px;
  border: 1px solid #e5e5e5;
  border-radius: 5px;
}


.pagination-item a{
  text-decoration: none;
  color: #000000;
}

.pagination-item-current {
  background-color: #ee3643;
}

.pagination-item-current a{
  color: #ffffff;
}

/* --------INDEX PAGE---------*/
/* --------promo-block---------*/


.promo-blocks {
  display: flex;
  justify-content: space-between;
  margin-bottom: 55px;
}


.blocks-list-left {
    display: flex;
    flex-wrap: wrap;
    width: 620px;
    justify-content: space-between;
}

.blocks-list-right {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 300px;
    justify-content: space-between;
}


.blocks-list,
.blocks-list a {

  color: #ffffff;
  text-decoration: none;
  padding: 0;
  margin: 0;
}

.blocks-item {
  width: 300px;
  height: 123px;
  list-style: none;
  margin-bottom: 20px;

}

.blocks-slider {
  width: 620px;
  height: 266px;
  margin: 0;
  padding: 0;
}


.item-name {
  margin: 21px 0 12px 23px;
  font-size: 24px;
  line-height: 30px;
  font-weight: bold;

}

a.item-link {
  display: block;
  width: 135px;
  margin-left: 25px;
  margin-bottom: 112px;
  font-size: 14px;
  line-height: 38px;
  text-transform: uppercase;
  text-align: center;
  background-color: rgba(0,0,0,0.1);
  border-radius: 2px;

}

.item-link:hover {
  background-color: rgba(0,0,0,0.3);
}

.item-link:active {
  background-color: rgba(0,0,0,0.5);
}

.block-materials {
  position: relative;
  color: #ffffff;
  background-image: url("../img/icon-1.svg");
  background-position: 213px 31px;
  background-repeat: no-repeat;
  background-color: rgba(246,178,45,0.9);

  overflow: hidden;
}


.new-block {
position: absolute;
top: 7px;
right: -21px;
width: 86px;
font-size: 16px;
line-height: 28px;
font-family: "PT Sans Narrow", sans-serif;
text-align: center;
color: #f0f0f0;
text-transform: lowercase;
letter-spacing: 1px;
background: #ff5357;
-ms-transform: rotate(45deg);
transform: rotate(45deg);

}


.block-Tool {
  color: #ffffff;
  background-color: #3bbce3;
  background-image: url("../img/icon-2.svg");
  background-position: 197px 33px;
  background-repeat: no-repeat;
}

.block-Technic {
  color: #ffffff;
  background-color: #dc91d8;
  background-image: url("../img/icon-3.svg");
  background-position: 191px 31px;
  background-repeat: no-repeat;
}


.slider-link {
  display: none;
}

.slider-list {
  margin: 0;
  padding: 0;

}

.slider-list li {
  width: 620px;
  height: 266px;
  margin: 0;
  padding: 0;
}
.slide-drill{
  /* background-image: url(../img/drel-man.jpg); */
  background-color: #000000;
  width: 620px;
  height: 266px;
}

.slide-perforator {
  display: none;
  width: 620px;
  height: 266px;
  /* background-image: url(../img/perforator-man.jpg); */
  background-color: #000000;
}
.slide-name {
  font-size: 36px;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 0px;
  color: #ffffff;
}

.slide-slogan {
  font-size: 18px;
  color: #ffffff;
  line-height: 0px;
}

.menu-btn {
  height: 38px;
  text-align: center;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  background-color: #ee3643;
  border-radius: 3px;
}
.slider-link {
  width: 195px;
}

.block-sale {
  color: #ffffff;
  background-color: #8ed78f;
  background-image: url("../img/icon-4.svg");
  background-position: 196px 26px;
  background-repeat: no-repeat;
}

.block-delivery {
  color: #ffffff;
  background-color: #ffc047;
  background-image: url("../img/icon-5.svg");
  background-position: 191px 32px;
  background-repeat: no-repeat;
}

/*-----popular-products----- */
.section-container {
  display: flex;
  justify-content: space-between;
  align-items: center;


  width: 940px;
  font-size: 30px;
  line-height: 30px;
  color: #32425c;
  text-transform: uppercase;
  background-color: #f9f5f0;
}

.section-heading {
  padding-left: 30px;
}

.section-btn {
  width: 253px;
  background-color: #ee3643;
  margin-right: 25px;
}

.section-btn a {
  text-decoration: none;
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
  background-color: #ee3643;
}

.popular-products {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  position: relative;
  margin: 0;
  padding: 20px 0 0;

  list-style: none;

}

.popular-products li {
  padding-bottom: 20px;
}

.product-new {
  position: relative;
  overflow: hidden;
}

.new-product {
position: absolute;
top: 10px;
right: -30px;
width: 100px;
font-size: 16px;
line-height: 28px;
font-family: "PT Sans Narrow", sans-serif;
text-align: center;
color: #f0f0f0;
text-transform: lowercase;
letter-spacing: 1px;
background: #ff5357;
-ms-transform: rotate(45deg);
transform: rotate(45deg);
}

.products-item {
  width: 220px;
  height: 318px;
  font-family: 'PT Sans', Arial, sans-serif;
  font-weight: bold;
  text-align: center;
  border: 1px #eaeaea solid;
  padding-bottom: 21px;
}

.products-item a {
  text-decoration: none;
}

.product-name {
  font-size: 18px;
  line-height: 20px;
  color: #000000;
  text-decoration: none;

}

.product-old-price {
  font-size: 17px;
  line-height: 18px;
  color: #a9a9a9;
  text-decoration: line-through;
}

.product-price {
  display: block;
  margin: 13px 36px 21px 43px;
  width: 141px;
  height: 38px;
  font-size: 17px;
  color: #ffffff;
  line-height: 18px;
  background-color: #ee3643;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  clip-path: polygon(0% 0%, 85% 0%, 100% 50%, 85% 100%, 0% 100%);
}


/*-----popular-manufacturer----- */
.manufacturers {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;


  padding: 0;
  margin:  0;
  margin-bottom: 85px;
}

.manufacturer-image {
  width: 220px;
  list-style: none;
  border: 1px #eaeaea solid;
  text-align: center;
  margin-top: 20px;
}

.manufacturer-image a {
  display: block;
}
/*-----services----- */
.services-container {
  background-color: #f4f7f9;
}

.services-heading,
.about-heading {
  font-size: 30px;
  font-weight: normal;
  line-height: 30px;
  color: #000000;
  text-transform: uppercase;

  padding-top: 70px;
}

.services-heading-description,
.service-description,
.about-paragraph {
  font-family: 'PT Sans', Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
  color: #000000;

  padding-bottom: 45px;
  margin-bottom: 0;
}

.services-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;

  padding: 0;
  margin: 0;

}

.services-slider {
  display: flex;

}

.service-shadow {
  width: 10px;
  height: 279px;
}

.services-list {
  list-style: none;
  padding: 0;
  margin: 0;

}

.service-item {
  width: 261px;
  height: 61px;
  color: #ffffff;
  font-size: 21px;
  line-height: 30px;
  font-weight: bold;
  background-color: #32425c;
  border: 1px #405069 solid;
}

.service-current {
  color: #32425c;
  border: none;
  background-color: #ffffff;
}

.service-name {
  font-size: 36px;
  line-height: 36px;
  color: #32425c;
  padding: 0;
  margin: 0;
}

.service-delivery {

  padding: 0;
  margin: 0;
  margin-left: 80px;
}

.service-image {
  padding: 0;
  margin: 0;
}

.service-delivery-image {
  width: 468px;
  height: 261px;
}







.credit-button {
  width: 195px;
  background-color: #ff5357;
  border-radius: 5px;
}

.credit-button a {
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
  text-decoration: none;
}






.service-garanty {
  display: none;
}

.service-credit {
  display: none;
}


.about-contacts-wrapper {
  display: flex;
  justify-content: space-between;
}



/* ---about-product-----*/
.about-product {
  margin-bottom: 0;
  background-color: #f2f6f8;
}
/*-----about-us----- */

.about-partners {
  font-size: 18px;
  line-height: 20px;
}

.partners-list {
  list-style: none;
}

.partner-line {
  width: 25px;
  border-top: 2px solid #ee3643;
}

.about-company {
  width: 220px;
  background-color: #ee3643;
  border-radius: 5px;
}

.about-company a{
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
  text-decoration: none;
}

.write-us {
  width: 300px;
  color: #ffffff;
  background-color: #ee3643;
  border-radius: 5px;
}

.write-us a{
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
  text-decoration: none;
}

.popup-write-us {
  display: none;
  width: 620px;
  height: 430px;
  border-top-width: 7px;
  border-top-color: #ff5357;
}

.write-us-submit {
  width: 460px;
  height: 38px;
  color: #ffffff;
  background-color: #ee3643;
  border-radius: 5px;
}
/*--------FOOTER------- */
.footer {
  margin-top: 85px;
  width: 100%;

  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
  background-color: #32425c;
}

.footer-inner {
  margin-top: 0;
  width: 100%;

  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
  background-color: #32425c;
}

.footer .container {
  display: flex;
  justify-content: space-between;


  padding-bottom: 50px;

}

.footer-right-column {
  margin-top: 40px;

}

.footer-navigation,
.footer-sections {
  display: flex;
  justify-content: flex-end;

  padding: 0;
  margin: 0;
  text-align: right;
  list-style: none;
}

.footer-sections {
  color: #ffd180;
  margin-top: 40px;
}

.footer-navigation li,
.footer-sections li {
  padding-left: 60px;
}
/*-----footer-copyrights---- */
.footer-copyrights{

  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
  background-color: #293449;

}


.footer-copyrights .container {
  display: flex;
  justify-content: space-between;
  padding-top: 35px;
}

.footer-socials {
  display: flex;
  padding: 0;
}

.footer-social {
  list-style: none;
  width: 41px;
  height: 41px;

  background-color: #212a3a;
  border-radius: 50%;

}

.footer-bottom-contacts {
  display: flex;
  padding-right: 15px;
}

.footer-contact {
  padding-left: 55px;
}

.footer-contact-link {
  text-decoration: none;
  color: #ffd180;
}
